@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section content {
    @foreach (var post in ViewBag.Posts)
    {
        <h2>@post.title</h2>
        <p>@post.text</p>
        
        <a class="btn btn-primary btn-block" href="@Url.Action("ShowPost", "Page", new { id = post.id })">Show post</a>
        <br /><br />
    }

<nav aria-label="paginate_me">
  <ul class="pagination">
    @if(ViewBag.Paginator.getPrev() != 0){
        <li class="page-item">
          <a class="page-link" href="
              @(ViewBag.Paginator.getPrev() == 1 ? Url.Action("Home", "Page", null)
              : Url.Action("Page", "Page", new { page = ViewBag.Paginator.getPrev() }))
          ">Previous</a>
        </li>
    }

    @if(ViewBag.Paginator.getL1() != 0){
        <li class="page-item@(ViewBag.Paginator.getActive() == "l1" ? " active" : "")">
            <a class="page-link" href="
                @(ViewBag.Paginator.getL1() == 1 ? Url.Action("Home", "Page", null)
                : Url.Action("Page", "Page", new { page = ViewBag.Paginator.getL1() }))
            ">
            @ViewBag.Paginator.getL1()</a></li>
    }

    @if(ViewBag.Paginator.getL2() != 0){
        <li class="page-item@(ViewBag.Paginator.getActive() == "l2" ? " active" : "")">
            <a class="page-link" href="@Url.Action("Page", "Page", new { page = ViewBag.Paginator.getL2() })">
                @ViewBag.Paginator.getL2()</a></li>
    }

    @if(ViewBag.Paginator.getL3() != 0){
        <li class="page-item"><a class="page-link" href="@Url.Action("Page", "Page", new { page = ViewBag.Paginator.getL3() })">
            @ViewBag.Paginator.getL3()</a></li>
    }

    @if(ViewBag.Paginator.getNext() != 0){
        <li class="page-item">
          <a class="page-link" href="@Url.Action("Page", "Page", new { page = ViewBag.Paginator.getNext() })">Next</a>
        </li>
    }
  </ul>
</nav>

}

@section sidebar {
    zzz
}