@model ASP_Blog.Models.ChangePasswordViewModel

@{
    Layout = "~/Views/Shared/_PageLayout.cshtml";
}

@section content {
    <h1>Change password</h1>
    <br />

    @if(TempData["success"] != null && (bool)TempData["success"] == true){
        <div class="alert alert-success">
           Password changed successfully!
        </div>
    }

    @if(TempData["success"] != null && (bool)TempData["success"] == false){
        <div class="alert alert-danger">
           Something went wrong!
        </div>
    }

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <fieldset>
            @if (ViewData.ModelState["old_password"] != null && ViewData.ModelState["old_password"].Errors.Any())
            {
                <br />
                <div class="alert alert-danger">
                    @Html.ValidationMessageFor(m => m.old_password)
                </div>
            }
            <h3>@Html.LabelFor(m => m.old_password)</h3>
            @Html.PasswordFor(m => m.old_password, new { @class = "form-control" })

            @if(ViewData.ModelState["password"] != null && ViewData.ModelState["password"].Errors.Any()){
                <br />
                <div class="alert alert-danger">
                    @Html.ValidationMessageFor(m => m.password)
                </div>
            }
            <h3>@Html.LabelFor(m => m.password)</h3>
            @Html.PasswordFor(m => m.password, new { @class = "form-control" })

            @if (ViewData.ModelState["confirm_password"] != null && ViewData.ModelState["confirm_password"].Errors.Any())
            {
                <br />
                <div class="alert alert-danger">
                    @Html.ValidationMessageFor(m => m.confirm_password)
                </div>
            }
            <h3>@Html.LabelFor(m => m.confirm_password)</h3>
            @Html.PasswordFor(m => m.confirm_password, new { @class = "form-control" })

            <br />
            <input class="btn btn-primary btn-block" type="submit" value="Change Password" />
        </fieldset>
    }
}

@section sidebar {
    <p>Manage your user profile.</p>
}